body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #66d8f7;
    color: #333;
}

.justifyParagraph {
    margin-top: 3%; 
    text-align: justify; 
    text-justify: inter-word;
    }

header {
    background: #5185f6;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #5185f6;
    color: #fff;
}
img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 700px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}